In [1]:
import os
from pyspark.sql import SparkSession, DataFrame, Row
from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.sql import window as W
from pyspark.errors import AnalysisException


from dotenv import load_dotenv

os.environ["SPARK_VERSION"] = "3.3"
load_dotenv("../.env-deploy", override=True)

True

In [2]:
data_home = "/Users/kwesi/Desktop/ai/gpts/mlsgpt/data"
jar_files = ["postgresql-42.7.3.jar", "mysql-connector-j-8.0.33.jar"]
jar_opts = ",".join([f"{data_home}/jars/{jar}" for jar in jar_files])
warehouse = f"{data_home}/warehouse"

spark: SparkSession = (
    SparkSession.builder\
    .appName("MLSGPT")
    .config("spark.dynamicAllocation.enabled", "true")
    .config("spark.shuffle.service.enabled", "true")
    .config("spark.sql.warehouse.dir", f"{warehouse}")
    .config("spark.sql.session.timeZone", "UTC")
    .config("spark.jars", f"{jar_opts}") 
    .enableHiveSupport()
    .getOrCreate()
)
spark.sparkContext.setLogLevel("ERROR")

24/05/19 03:42:39 WARN Utils: Your hostname, marley.local resolves to a loopback address: 127.0.0.1; using 10.0.0.135 instead (on interface en0)
24/05/19 03:42:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/05/19 03:42:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
def read_table(url:str, props:dict, table_name: str, ) -> DataFrame:
    try:
        return spark.read.jdbc(url=url, table=table_name, properties=props)
    except AnalysisException as e:
        print(f"Table {table_name} not found")
        return None
    
pg_url = "jdbc:postgresql://{}:{}/{}".format(os.getenv("POSTGRES_HOST"), os.getenv("POSTGRES_PORT"),os.getenv("POSTGRES_DB"))
pg_props = {
    "user": os.getenv("POSTGRES_USER"),
    "password": os.getenv("POSTGRES_PASSWORD"),
    "driver": "org.postgresql.Driver"
}
tables = ["rsbr.boards", "rsbr.office", "rsbr.agent", "rsbr.property", "rsbr.property_rooms"]
columns = [c.column for c in spark.read.csv("../data/columns_to_keep.csv", header=True).collect()]
df = (
    read_table(pg_url, pg_props, "rsbr.property")    
    .select(columns)
)

In [4]:
dom = (
    F.when(F.col("Sold") == 1, F.datediff(F.current_date(), F.to_date("ListingContractDate", "yyyy-MM-dd")))
    .otherwise(F.datediff(F.current_date(), F.to_date("ListingContractDate", "yyyy-MM-dd")))
    .alias("DaysOnMarket")
)
sold = F.when(F.col("Sold") == 1, "Yes").otherwise("No").alias("Sold")
pp_sq_ft = F.round(F.col("Price") / F.col("SizeInterior"),2).alias("PricePerSqft")
win_top = W.Window.partitionBy("City", "PropertyType").orderBy(F.desc("Price"))
win_bottom = W.Window.partitionBy("City", "PropertyType").orderBy(F.asc("Price"))
df_base = df.select(
    "City",
    "CommunityName",
    F.col("AmmenitiesNearby").alias("AmenitiesNearby"),
    "Type",
    "PropertyType",
    "OwnershipType",
    "BedroomsTotal",
    "BathroomTotal",
    F.substring("PostalCode", 0,3).alias("FSA"),
    F.quarter(F.to_date("ListingContractDate", "yyyy-MM-dd")).alias("Quarter"),
    F.year(F.to_date("ListingContractDate", "yyyy-MM-dd")).alias("Year"),
    F.rank().over(win_top).alias("TopRank"),
    F.rank().over(win_bottom).alias("BottomRank"),
    dom,
    sold,
    pp_sq_ft,
    "Price",
    "Lease",
).filter(F.col("Price") > 0)

In [15]:
groups = (
    ("City",),
    ("City", "Type"),
    ("City", "PropertyType"),
    ("City", "BedroomsTotal"),
)

agg_cols = (
    F.count("*").cast(T.IntegerType()).alias("InventoryCount"),
    F.avg("Price").cast(T.DecimalType(15,2)).alias("AveragePrice"),
    F.percentile_approx("Price", 0.5).cast(T.DecimalType(15,2)).alias("MedianPrice"),
    F.min("Price").cast(T.DecimalType(15,2)).alias("MinimumPrice"),
    F.max("Price").cast(T.DecimalType(15,2)).alias("MaximumPrice"),
    F.avg("DaysOnMarket").cast(T.DecimalType(15,2)).alias("AverageDaysOnMarket"),
    F.percentile_approx("DaysOnMarket", 0.5).cast(T.DecimalType(15,2)).alias("MedianDaysOnMarket"),
    F.min("DaysOnMarket").cast(T.DecimalType(15,2)).alias("MinimumDaysOnMarket"),
    F.max("DaysOnMarket").cast(T.DecimalType(15,2)).alias("MaximumDaysOnMarket"),
    F.avg("PricePerSqft").cast(T.DecimalType(15,2)).alias("AveragePricePerSqft"),
)

df_stats = {}
for group in groups:
    group_key = "".join(group) + "Stats"
    df_stats[group_key] = df_base.groupBy(*group).agg(*agg_cols)

In [16]:
for key, value in df_stats.items():
    print(key)
    value.show(10)
    print("\n\n")

CityStats
+-------------------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
|               City|InventoryCount|AveragePrice|MedianPrice|MinimumPrice|MaximumPrice|AverageDaysOnMarket|MedianDaysOnMarket|MinimumDaysOnMarket|MaximumDaysOnMarket|AveragePricePerSqft|
+-------------------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
|          aberfoyle|             1|   494900.00|  494900.00|   494900.00|   494900.00|              53.00|             53.00|              53.00|              53.00|             554.20|
|              acton|            13|  1197152.92| 1249000.00|   825000.00|  1800000.00|              36.69|             33.00|              19.00|              88.00|             560.10|
|addington highlands|            22|   577268.05|  549900.00|    99900.00|  1895000.00|              53.50|             39.00|              16.00|             207.00|               NULL|
|  adelaide metcalfe|             2|   684900.00|  339900.00|   339900.00|  1029900.00|              75.50|             26.00|              26.00|             125.00|               NULL|
|  adjala-tosorontio|            57|  1885401.14| 1599999.00|   619000.00|  5750000.00|              49.61|             41.00|              13.00|             216.00|             753.86|
|   admaston/bromley|             1|   824900.00|  824900.00|   824900.00|   824900.00|              34.00|             34.00|              34.00|              34.00|               NULL|
|        ailsa craig|            21|   765300.00|  699900.00|   579900.00|  1150000.00|             118.19|            114.00|              16.00|             296.00|             418.78|
|               ajax|           195|  1111413.69|  965000.00|        1.00|  6499900.00|              36.58|             25.00|              13.00|             216.00|             571.52|
|              alban|             1|   669000.00|  669000.00|   669000.00|   669000.00|              17.00|             17.00|              17.00|              17.00|             619.44|
|           alberton|             1|  1299000.00| 1299000.00|  1299000.00|  1299000.00|             299.00|            299.00|             299.00|             299.00|               NULL|
+-------------------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
only showing top 10 rows




CityTypeStats
+-------------------+---------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
|               City|     Type|InventoryCount|AveragePrice|MedianPrice|MinimumPrice|MaximumPrice|AverageDaysOnMarket|MedianDaysOnMarket|MinimumDaysOnMarket|MaximumDaysOnMarket|AveragePricePerSqft|
+-------------------+---------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
|          aberfoyle|  Modular|             1|   494900.00|  494900.00|   494900.00|   494900.00|              53.00|             53.00|              53.00|              53.00|             554.20|
|              acton|     NULL|             1|  1800000.00| 1800000.00|  1800000.00|  1800000.00|              88.00|             88.00|              88.00|              88.00|             237.19|
|              acton|    House|            12|  1146915.67| 1225000.00|   825000.00|  1399000.00|              32.42|             25.00|              19.00|              45.00|             587.01|
|addington highlands|   Duplex|             2|   474000.00|  319000.00|   319000.00|   629000.00|              66.50|             39.00|              39.00|              94.00|               NULL|
|addington highlands|    House|            20|   587594.85|  549900.00|    99900.00|  1895000.00|              52.20|             33.00|              16.00|             207.00|               NULL|
|  adelaide metcalfe|    House|             2|   684900.00|  339900.00|   339900.00|  1029900.00|              75.50|             26.00|              26.00|             125.00|               NULL|
|  adjala-tosorontio|    House|            57|  1885401.14| 1599999.00|   619000.00|  5750000.00|              49.61|             41.00|              13.00|             216.00|             753.86|
|   admaston/bromley|    House|             1|   824900.00|  824900.00|   824900.00|   824900.00|              34.00|             34.00|              34.00|              34.00|               NULL|
|        ailsa craig|    House|            21|   765300.00|  699900.00|   579900.00|  1150000.00|             118.19|            114.00|              16.00|             296.00|             418.78|
|               ajax|Apartment|            10|   611950.00|  599000.00|   465000.00|   799900.00|              53.50|             34.00|              13.00|             170.00|               NULL|
+-------------------+---------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
only showing top 10 rows




CityPropertyTypeStats
+-------------------+-------------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
|               City| PropertyType|InventoryCount|AveragePrice|MedianPrice|MinimumPrice|MaximumPrice|AverageDaysOnMarket|MedianDaysOnMarket|MinimumDaysOnMarket|MaximumDaysOnMarket|AveragePricePerSqft|
+-------------------+-------------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
|          aberfoyle|Single Family|             1|   494900.00|  494900.00|   494900.00|   494900.00|              53.00|             53.00|              53.00|              53.00|             554.20|
|              acton| Multi-family|             1|  1800000.00| 1800000.00|  1800000.00|  1800000.00|              88.00|             88.00|              88.00|              88.00|             237.19|
|              acton|Single Family|            12|  1146915.67| 1225000.00|   825000.00|  1399000.00|              32.42|             25.00|              19.00|              45.00|             587.01|
|addington highlands|Single Family|            22|   577268.05|  549900.00|    99900.00|  1895000.00|              53.50|             39.00|              16.00|             207.00|               NULL|
|  adelaide metcalfe|Single Family|             2|   684900.00|  339900.00|   339900.00|  1029900.00|              75.50|             26.00|              26.00|             125.00|               NULL|
|  adjala-tosorontio|Single Family|            57|  1885401.14| 1599999.00|   619000.00|  5750000.00|              49.61|             41.00|              13.00|             216.00|             753.86|
|   admaston/bromley|Single Family|             1|   824900.00|  824900.00|   824900.00|   824900.00|              34.00|             34.00|              34.00|              34.00|               NULL|
|        ailsa craig|Single Family|            21|   765300.00|  699900.00|   579900.00|  1150000.00|             118.19|            114.00|              16.00|             296.00|             418.78|
|               ajax|Single Family|           195|  1111413.69|  965000.00|        1.00|  6499900.00|              36.58|             25.00|              13.00|             216.00|             571.52|
|              alban|Single Family|             1|   669000.00|  669000.00|   669000.00|   669000.00|              17.00|             17.00|              17.00|              17.00|             619.44|
+-------------------+-------------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
only showing top 10 rows




CityBedroomsTotalStats
+-------------------+-------------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
|               City|BedroomsTotal|InventoryCount|AveragePrice|MedianPrice|MinimumPrice|MaximumPrice|AverageDaysOnMarket|MedianDaysOnMarket|MinimumDaysOnMarket|MaximumDaysOnMarket|AveragePricePerSqft|
+-------------------+-------------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
|          aberfoyle|            1|             1|   494900.00|  494900.00|   494900.00|   494900.00|              53.00|             53.00|              53.00|              53.00|             554.20|
|              acton|            2|             2|   944900.00|  899900.00|   899900.00|   989900.00|              21.50|             20.00|              20.00|              23.00|             713.73|
|              acton|            3|             3|  1124333.33| 1249000.00|   825000.00|  1299000.00|              38.33|             45.00|              25.00|              45.00|             636.58|
|              acton|            4|             6|  1261714.67| 1297500.00|   999888.00|  1399000.00|              31.67|             25.00|              19.00|              45.00|             530.98|
|              acton|            5|             1|   929900.00|  929900.00|   929900.00|   929900.00|              41.00|             41.00|              41.00|              41.00|             521.04|
|              acton|            8|             1|  1800000.00| 1800000.00|  1800000.00|  1800000.00|              88.00|             88.00|              88.00|              88.00|             237.19|
|addington highlands|            1|             1|   109000.00|  109000.00|   109000.00|   109000.00|              19.00|             19.00|              19.00|              19.00|               NULL|
|addington highlands|            2|             5|   493760.00|  475000.00|   145000.00|   799000.00|              33.20|             19.00|              16.00|              64.00|               NULL|
|addington highlands|            3|             9|   658577.56|  549998.00|    99900.00|  1895000.00|              65.44|             33.00|              16.00|             207.00|               NULL|
|addington highlands|            4|             5|   603199.80|  599000.00|   319000.00|   899999.00|              57.00|             60.00|              18.00|              94.00|               NULL|
+-------------------+-------------+--------------+------------+-----------+------------+------------+-------------------+------------------+-------------------+-------------------+-------------------+
only showing top 10 rows

In [18]:
# table_names ={
#     "CityStats": "rsbr.city_stats",
#     "CityTypeStats": "rsbr.city_type_stats",
#     "CityPropertyTypeStats": "rsbr.city_property_type_stats",
#     "CityBedroomsTotalStats": "rsbr.city_bedrooms_stats",
# }

# for key, value in df_stats.items():
#     # value.describe().show(vertical=True) 
#     value.write.jdbc(url=pg_url, table=table_names[key], mode="append", properties=pg_props)

In [29]:
cities = [r.City for r in df_base.select("City").distinct().sort(F.asc("City")).collect()]
city_types = [r.Type for r in df_base.select("Type").filter(F.col("Type").isNotNull()).distinct().sort(F.asc("Type")).collect()]
property_types = [r.PropertyType for r in df_base.select("PropertyType").distinct().sort(F.asc("PropertyType")).collect()]
bedrooms = [str(r.BedroomsTotal) for r in df_base.select("BedroomsTotal").distinct().sort(F.asc("BedroomsTotal")).collect()]

rows = [
    Row(Attribute="City", Values=cities),
    Row(Attribute="Type", Values=city_types),
    Row(Attribute="PropertyType", Values=property_types),
    Row(Attribute="BedroomsTotal", Values=bedrooms),
]
df_info = spark.createDataFrame(rows)

In [30]:
df_info.show(vertical=True)

-RECORD 0-------------------------
 Attribute | City
 Values    | [aberfoyle, acton...
-RECORD 1-------------------------
 Attribute | Type
 Values    | [Apartment, Comme...
-RECORD 2-------------------------
 Attribute | PropertyType
 Values    | [Multi-family, Si...
-RECORD 3-------------------------
 Attribute | BedroomsTotal
 Values    | [0, 1, 2, 3, 4, 5...

In [31]:
df_info.write.jdbc(url=pg_url, table="rsbr.stats_info", mode="append", properties=pg_props)

In [8]:
# # Compute average and median prices by city
# price_stats = (
#     df_base.groupBy("City", "Type", "OwnershipType", "BedroomsTotal", "FSA")
#     .agg(
#         F.count("City").alias("InventoryLevel"),
#         F.avg("Price").alias("AveragePrice"),
#         F.percentile_approx("Price", 0.5).alias("MedianPrice")
#     )
# )
# print(price_stats.count())
# price_stats.show(5)

In [9]:
# # Group by quarter and compute average price
# trends = (
#     df_base
#     .groupBy("City", "Quarter")
#     .agg(F.avg("Price").alias("AveragePrice"))
# )
# trends.show(5)

In [10]:
# # Inventory levels by city and property type
# inventory_levels = (
#     df_base
#     .groupBy("City", "PropertyType")
#     .agg(F.count("City").alias("InventoryLevel"))
#     .orderBy("InventoryLevel", ascending=False)
# )
# print(inventory_levels.count())
# inventory_levels.show(5)

In [11]:
# # Rank properties and select those to compare
# cma = (
#     df_base
#     .filter((F.col("TopRank") <= 5) | (F.col("BottomRank") <= 5))
# )
# print(cma.count())
# cma.show(5)

In [12]:
# community_features = (
#     df_base
#     .groupBy("CommunityName").agg(F.collect_set("AmenitiesNearBy").alias("UniqueAmenities"))
# )
# print(community_features.count())
# community_features.show(5)

In [13]:
# price_per_sq_ft = (
#     df_base
#     .groupBy("City")
#     .agg(F.avg("PricePerSqFt").alias("AvgPricePerSqFt"))
#     .orderBy("AvgPricePerSqFt", ascending=False)
# )
# print(price_per_sq_ft.count())
# price_per_sq_ft.show(100)